html {
  width: 100vw;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: 'roboto';
}

html footer ul li:first-child {
  font-family: Shrikhand;
}

html .carte h1 {
  font-family: Shrikhand;
}

@-webkit-keyframes appears {
  from {
    opacity: 0;
    -webkit-transform: translateY(1.2em);
            transform: translateY(1.2em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appears {
  from {
    opacity: 0;
    -webkit-transform: translateY(1.2em);
            transform: translateY(1.2em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .header_img {
  width: 100vw;
  padding: 1em 0 0.5em 0;
  background-color: #FFF;
  z-index: 0;
}

header .header_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .header_img__pages {
  position: fixed;
}

header .header_form {
  width: 100vw;
  padding: 1em 0 1em 0;
  background: #eaeaea;
  -webkit-box-shadow: inset 0 3px 3px #cecece;
          box-shadow: inset 0 3px 3px #cecece;
}

header .header_form form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

header .header_form form input {
  margin-left: 1em;
  background-color: #eaeaea;
  border: none;
  font-size: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header a {
  color: black;
  position: absolute;
  font-size: 1.3em;
  top: 1em;
  left: 1.5em;
}

.explore {
  background-color: #F6F6F6;
  padding: 2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore a {
  text-decoration: none;
}

.explore h1 {
  margin: 0;
}

.explore__text {
  font-weight: 300;
}

.explore__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  border-radius: 1.8em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

.explore__btn:hover {
  background: opacity(0.5);
}

.fonctioning {
  padding: 1.5em 1em;
}

.fonctioning__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  margin: 1em 0 1em 0.5em;
  padding: 1.4em 0;
  border-radius: 1em;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

.fonctioning__btn .btn__number {
  background-color: #9356DC;
  width: 1.5em;
  height: 1.3em;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  padding-top: 0.2em;
  position: relative;
  left: -0.6em;
}

.fonctioning__btn i {
  color: grey;
  font-size: 1.2em;
  margin: 0.1em 0 0 1em;
}

.fonctioning__btn p {
  margin: 0.1em 0 0 1.5em;
  font-weight: bold;
}

.fonctioning__btn:hover {
  background-color: #DEEBFF;
}

.fonctioning__btn:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 2em 1em;
}

#restaurants .rest-card {
  width: 90vw;
  border-radius: 1.5em;
  background-color: #FFF;
  overflow: hidden;
  margin-bottom: 2em;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

#restaurants .rest-card__img {
  width: 90vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .rest-card__resume {
  color: black;
  margin: 0 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .rest-card__resume__title h2 {
  font-size: large;
  margin-bottom: 0;
}

#restaurants .rest-card__resume__title p {
  margin-top: 0;
}

#restaurants .rest-card__resume__heart {
  font-size: 1.7em;
  position: relative;
}

#restaurants .rest-card__resume__heart::after {
  content: '\2764';
  position: absolute;
  top: -0.125em;
  left: 0;
  width: 3em;
  color: #9356DC;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}

#restaurants .rest-card__resume__heart:hover {
  color: #9356DC;
}

#restaurants .rest-card__resume__heart:hover::after {
  opacity: 1;
}

/* PAGES RESTAURANT */
.pages_img {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 3.5em;
}

.plat a {
  text-decoration: none;
  color: black;
}

.carte {
  background-color: #F6F6F6;
  padding: 1em 0;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 15em;
}

.carte h2 {
  margin: 0 0 1.2em 1.7em;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.1em;
  position: relative;
}

.carte h2::after {
  content: '';
  position: absolute;
  width: 2.5em;
  height: 3px;
  top: 1.4em;
  left: 0;
  background-color: #99E2D0;
}

.carte .page_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.5em;
  font-size: 0.8em;
}

.carte .page_title i {
  font-size: 1.5em;
}

.carte .plat__choice {
  margin: 0 5vw 1.5em 5vw;
  background-color: #FFF;
  border-radius: 1em;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-animation: appears 1s ease-out forwards;
          animation: appears 1s ease-out forwards;
}

.carte .plat__choice > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.carte .plat__choice__title-resume {
  width: 75vw;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  margin: 0.9em 0;
}

.carte .plat__choice h3 {
  white-space: nowrap;
}

.carte .plat__choice p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carte .plat__choice__title {
  margin: 0 1em;
}

.carte .plat__choice__title h3 {
  margin: 0;
}

.carte .plat__choice__resume {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carte .plat__choice__resume p {
  margin: 0;
}

.carte .plat__choice__price-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: absolute;
  right: -4em;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.carte .plat__choice__price-check p {
  margin: 2.4em 1em 0 0;
  font-weight: bold;
}

.carte .plat__choice__price-check i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.7s ease-out;
  transition: -webkit-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
}

.carte .plat__choice__check-anim {
  width: 4em;
  height: 4.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
}

.carte .plat__choice__check-anim i {
  color: #FFF;
  font-size: 1.5em;
}

.carte .plat__choice:hover {
  cursor: pointer;
}

.carte .plat__choice:hover .plat__choice__title-resume {
  width: 62vw;
}

.carte .plat__choice:hover .plat__choice__price-check {
  -webkit-transform: translateX(-4em);
          transform: translateX(-4em);
}

.carte .plat__choice:hover .plat__choice__price-check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.carte .anim-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.carte .anim-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.carte .anim-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.carte .anim-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.carte .anim-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.carte .anim-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.carte .anim-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.carte .anim-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.carte .anim-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.carte .center__btn {
  margin: 3em auto;
  width: 40vw;
  text-align: center;
}

footer {
  background-color: #353535;
  padding: 1em 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 0.5em;
}

footer ul li a {
  text-decoration: none;
  color: #FFF;
}

footer ul li a i {
  font-size: 0.8em;
  margin-right: 0.5em;
}

footer ul li:first-child {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.page__footer {
  position: relative;
  top: 15em;
}
