body {
  margin: 0;
}

html {
  font-family: 'roboto';
}

html footer ul li:first-child {
  font-family: Shrikhand;
}

header .header_img {
  width: 100vw;
  padding: 1em 0 0.5em 0;
  border-bottom: 2px solid #cecece;
}

header .header_img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header .header_form {
  width: 100vw;
  padding: 1em 0 1em 0;
  background: #eaeaea;
  -webkit-box-shadow: inset 0 1px 5px #cecece;
          box-shadow: inset 0 1px 5px #cecece;
}

header .header_form form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}

header .header_form form input {
  margin-left: 1em;
  background-color: #eaeaea;
  border: none;
  font-size: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.explore {
  background-color: #F6F6F6;
  padding: 2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore h1 {
  margin: 0;
}

.explore__text {
  font-weight: 300;
}

.explore__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  border-radius: 1.8em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

.fonctioning {
  padding: 1.5em 1em;
}

.fonctioning__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
  margin: 1em 0 1em 0.5em;
  padding: 1.4em 0;
  border-radius: 1em;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

.fonctioning__btn .btn__number {
  background-color: #9356DC;
  width: 1.5em;
  height: 1.3em;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  padding-top: 0.2em;
  position: relative;
  left: -0.6em;
}

.fonctioning__btn i {
  color: grey;
  font-size: 1.2em;
  margin: 0.1em 0 0 1em;
}

.fonctioning__btn p {
  margin: 0.1em 0 0 1.5em;
  font-weight: bold;
}

.fonctioning__btn:hover {
  background-color: #DEEBFF;
}

.fonctioning__btn:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 2em 1em;
}

#restaurants .rest-card {
  width: 90vw;
  border-radius: 1.5em;
  background-color: #FFF;
  overflow: hidden;
  margin-bottom: 2em;
  -webkit-box-shadow: 2px 5px 5px #cecece;
          box-shadow: 2px 5px 5px #cecece;
}

#restaurants .rest-card a {
  text-decoration: none;
}

#restaurants .rest-card__img {
  width: 90vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .rest-card__resume {
  color: black;
  margin: 0 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants .rest-card__resume__title h2 {
  font-size: large;
  margin-bottom: 0;
}

#restaurants .rest-card__resume__title p {
  margin-top: 0;
}

#restaurants .rest-card__resume__heart {
  font-size: 1.7em;
}

footer {
  background-color: #353535;
  padding: 1em 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 0.5em;
}

footer ul li a {
  text-decoration: none;
  color: #FFF;
}

footer ul li a i {
  font-size: 0.8em;
  margin-right: 0.5em;
}

footer ul li:first-child {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
