.explore {
    background-color: $color-background;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
    }
    h1 {
        margin: 0;
    }
    &__text {
        font-weight: 300;
    }
    &__btn {
        width: fit-content;
        padding: 1em;
        border-radius: 1.8em;
        background: linear-gradient( $color-secondary, $color-primary);
        color: $color-white;
        @include shadow;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: box-shadow 0.4s ease-out;
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.4s ease-out;
            z-index: -1;
        }
        &:hover {
            box-shadow: 3px 7.5px 7.5px #cecece;
            &::after {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}

.fonctioning {
    padding: 1.5em 1em;
    max-width: 1244px;
    margin: auto;
    &__container {
        @include mediumscreen {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
    }
    &__btn {
        display: flex;
        background-color: $color-background;
        margin: 1em 0 1em 0.5em;
        padding: 1.4em 0;
        border-radius: 1em;
        @include shadow;
        .btn__number {
            background-color: $color-primary;
            width: 1.5em;
            height: 1.3em;
            text-align: center;
            border-radius: 50%;
            color: $color-white;
            padding-top: 0.2em;
            position: relative;
            left: -0.6em;
        }
        i {
            color: grey;
            font-size: 1.2em;
            margin: 0.1em 0 0 1em;
        }
        p {
            margin: 0.1em 0 0 1.5em;
            font-weight: bold;
        }
        &:hover {
            background-color: $hovercolor;
            i {
            color: $color-primary;
            }
        }
        @include mediumscreen {
            width: 45vw;
        }
        @include bigscreen {
            width: 30vw;
            max-width: 20em;
        }
    }
}

#restaurants {
    background-color: $color-background;
    padding: 2em 0;
    width: 100vw;
    max-width: 1244px;
    margin: auto;
    @include biggerscreen {
        border-radius: 2em;
        margin-bottom: 2em;
    }
    h1 {
        margin-left: 1em;
    }
    .rest-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mediumscreen {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    .rest-card {
        width: 95vw;
        border-radius: 1.5em;
        background-color: $color-white;
        overflow: hidden;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        position: relative;
        @include shadow;
        @include mediumscreen {
            width: 40vw;
            max-width: 30em;
        }
        &__img {
            width: 95vw;
            height: 11em;
            object-fit: cover;
            @include mediumscreen {
                width: 40vw;
                max-width: 30em;
            }
        }
        &__resume {
            color: black;
            margin: 0 0.7em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__title {
                h2 {
                    font-size: large;
                    margin-bottom: 0;
                }
                p {
                    margin-top: 0;
                }
            }
            &__heart {
                font-size: 1.7em;
                position: relative;
                z-index: 0;
                .heart2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.6s ease-out;
                    z-index: -1;
                    background: linear-gradient($color-primary, $color-secondary);
                    -webkit-background-clip: text;
                    color: transparent;    
                }
                &:hover {
                    .heart1 {
                        background: linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                        color: transparent;                        }
                    .heart2 {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .card-new {
        position: relative;
        &::after {
            content: 'Nouveau';
            position: absolute;
            width: 80px;
            height: 30px;
            background-color: $color-accent;
            top: 15px;
            right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            color: rgba(0, 0, 0, 0.4);
            font-weight: bold;
        }
    }
}

/* PAGES RESTAURANT */

.pages_img {
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    top: 3.5em;
    @include biggerscreen {
        height: 100vh;
    }
}

.plat {
    a {
        text-decoration: none;
        color: black;
    }
}

.carte {
    background-color: $color-background;
    padding: 1em 0;
    border-top-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
    position: relative;
    top: 15em;
    max-width: 1244px;
    margin: auto;
    h2 {
        margin: 0 0 1.2em 1.7em;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1.1em;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 2.5em;
            height: 3px;
            top: 1.4em;
            left: 0;
            background-color: $color-accent;
        }
    }
    .page_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 3em;
        font-size: 0.8em;
        &__heart {
            font-size: 1.7em;
            position: relative;
            cursor: pointer;
            z-index: 0;
            .heart2 {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.6s ease-out;
                z-index: -1;
                background: linear-gradient($color-primary, $color-secondary);
                -webkit-background-clip: text;
                color: transparent;    
            }
                &:hover {
                    .heart1 {
                        background: linear-gradient($color-primary, $color-secondary);
                        -webkit-background-clip: text;
                        color: transparent;                    }
                    .heart2 {
                        opacity: 1;
                    }
                }
        }
    }
    .plat__choice {
        margin: 0 4vw 1.5em 4vw;
        background-color: $color-white;
        border-radius: 1em;
        @include shadow;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        @include biggerscreen {
            width: 24.5em;
            margin: 0 0 1em 1em;
        }
        & > * {
            flex: 0 0 auto;
        }
        &__title-resume {
            width: 80vw;
            transition: width 0.5s ease-out;
            margin: 0.9em 0;
            @include biggerscreen {
                width: 22em;
            }
        }
        p, h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__title {
            margin: 0 1em;
            h3 {
                margin: 0;
            }
        }
        &__resume {
            margin: 0 1em;
            display: flex;
            justify-content: space-between;
            p {
                margin: 0;
            }
        }
        opacity: 0;
        animation: appears 1s ease-out forwards;
        &__price-check {
            display: flex;
            transform: translateX(0);
            position: absolute;
            right: -4em;
            transition: transform 0.5s ease-out;
            p {
                margin: 2.4em 1em 0 0;
                font-weight: bold;
            }
            i {
                transform: rotate(90deg);
                transition: transform 0.7s ease-out;
            }
        }
        &__check-anim {
            width: 4em;
            height: 4.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-accent;
            i {
                color: $color-white;
                font-size: 1.5em;
            }
        }
        &:hover, &:focus {
            cursor: pointer;
            .plat__choice__title-resume {
                width: 62vw;
                @include biggerscreen {
                    width: 18em;
                }
            }
            .plat__choice__price-check {
                transform: translateX(-4em);
                i {
                    transform: rotate(360deg);
                }
            }
        }
    }
    .anim-1 {
        animation-delay: 0.2s
    }
    .anim-2 {
        animation-delay: 0.4s
    }
    .anim-3 {
        animation-delay: 0.6s
    }
    .anim-4 {
        animation-delay: 0.8s
    }
    .anim-5 {
        animation-delay: 1s
    }
    .anim-6 {
        animation-delay: 1.2s
    }
    .anim-7 {
        animation-delay: 1.4s
    }
    .anim-8 {
        animation-delay: 1.6s
    }
    .anim-9 {
        animation-delay: 1.8s
    }
    .center__btn {
        margin: 3em auto;
        width: 40vw;
        text-align: center;
        @include biggerscreen {
            width: 24.5em;
        }
    }
    .menu__container {
        @include biggerscreen {
            display: flex;
        }
    }
}

