header {
    .header_img {
        width: 100vw;
        padding: 1em 0 0.5em 0;
        background-color: $color-white;
        z-index: 0;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &__pages {
            position: fixed;
        }
    }
    .header_form {
        width: 100vw;
        padding: 1em 0 1em 0;
        background: #eaeaea;
        box-shadow: inset 0 3px 3px $shadow;
        form {
            width: fit-content;
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: large;
            input {
                margin-left: 1em;
                background-color: #eaeaea;
                border: none;
                font-size: 1em;
                width: fit-content;
            }
        }
    }
    a {
        color: black;
        position: absolute;
        font-size: 1.3em;
        top: 1em;
        left: 1.5em;
    }
}