html {
    font-family: 'roboto';
    footer {
        ul {
            li:first-child {
                font-family: Shrikhand;
            }
        }
    }
    .carte {
        h1 {
            font-family: Shrikhand;
        }
    }
    .loader {
        font-family: shrikhand;
    }
}