$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-accent: #99E2D0;
$color-white: #FFF;
$shadow: #cecece;
$color-background: #F6F6F6;
$hovercolor: rgba(147, 86, 220, 0.2);
$color-footer: #353535;